@import '../globals';

$horizontal-table-padding: 48px;

.app-component{

  @include flex(column, flex-start, flex-start);
  height:100vh;
  overflow:hidden;

  font-family:Roboto, sans-serif;


  .app-body {
    @include maxSize;
    @include flex(row, flex-start, flex-start);
    min-height:0;

  }


  .no-spaces{
    @include maxSize;
    @include flex(row, center, center);
    @include font-style(50px, 700, 0em, #505050);
    @include padding-border-box(15vw);
    text-align: center;
  }

}

.navigation-bar {

  width:300px;
  background:#fbfbfb;
  height:100%;
  border-right:1px solid $separatorColor;

  .nav-header{
    @include padding-border-box(24px 24px 24px 72px);
    margin-bottom:24px;
    .title{
      @include font-style(16px, 700, 0.4em, #a3a4a4);
      font-family: Ubuntu, sans-serif;
      text-transform: uppercase;
    }

  }

  .nav-buttons{
    @include flex(column, flex-start, flex-start);

    .navigate-to{
      @include flex(row, flex-start,center);
      @include padding-border-box(18px 24px);
      width:100%;
      border-bottom:1px solid $separatorColor;
      transition: all 0.3s;
      position:relative;

      .text{
        @include font-style(16px, 500, 0em, #d0d0d0);
        transition: all 0.3s;
      }
      .svg-container{
        display:flex;
        margin: 0 12px 0 48px;
        & > svg{
          fill: white;
          transition: all 0.3s;
        }
      }


      &.selected{

        background:white;

        & > .text{
          color:#757575;
          font-weight:700;
        }
        & > .svg-container > div > svg{
          fill:#757575
        }
      }
      &:hover{
        cursor: pointer;
        background:white;
      }

    }
  }
}

.spaces-page-container{

  @include maxSize;
  .header{
    @include padding-border-box(24px);
    @include font-style(24px, 900, 0.025em, #505050);
    background:#f9f9f9;
  }


}

.table-component-flex {

  @include flex(column, flex-start, flex-start);
  height:100%;
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s;
  @include padding-border-box(24px 24px 0 24px);

  .header-row {
    @include flex(row, flex-start, center);
    @include padding-border-box(18px 48px 18px 36px);
    border-bottom: 1px solid $separatorColor;
    width: 100%;

    .header-item {
      @include font-style(14px, 600, 0em, gray);
      margin-right:12px;

      &:hover {
        cursor: pointer;
      }

      &.main {
        @include font-style(24px, 600, 0em, #6a6a6a);
      }
    }
  }

  .data-rows-outer {
    @include maxSize;
    overflow-y: scroll;

    background: white;
    .data-rows-container {
      @include flex(column, flex-start, flex-start);
      @include padding-border-box(0 12px 0 0);
      min-height:0;
      width: 100%;
      .data-row {
        @include flex(row, flex-start, center);
        @include padding-border-box(24px 36px);
        width: 100%;
        border-bottom: 1px solid $separatorColor;
        transition: all 0.2s;

        &:last-of-type {
          margin-bottom: 0;
          border:none;
        }

        &.selectable {

          &:hover {
            background:#f9f9f9;
            cursor: pointer;
          }
        }

        .data-item {
          margin-right:12px;
          @include font-style(14px, 500, 0.025em, #9a9a9a);
        }
      }
    }
  }
}

.no-entries-container {
  @include maxSize;
  @include flex(row, center, center);

  .text{
    @include font-style(24px, 600, 0, #646464);
    margin-left:12px;
  }

}

.tabs{
  @include flex(row, flex-start, flex-start);
  @include padding-border-box(0 24px);
  background:#f9f9f9;
  border-bottom: 1px solid $separatorColor;

  .tab{
    @include flex(row, flex-start,center);
    @include padding-border-box(12px 24px);
    border: 1px solid transparent;
    position:relative;
    border-bottom:none;
    transition: all 0.3s;

    &:hover{
      cursor:pointer;
    }

    .text{
      @include font-style(14px, 400, 0em, #d0d0d0);
      transition: all 0.3s;
    }
    .svg-container{
      display:flex;
      margin-right:12px;
    }
    &.selected{

      background:white;
      border: 1px solid $separatorColor;
      border-bottom:none;
      border-radius:3px 3px 0 0;

      &:after{
        content:'';
        position:absolute;
        width:100%;
        height:1px;
        bottom:-1px;
        left:0;
        background:white;
      }

      & > .text{
        color:#757575;
        font-weight: 600;
      }
      & > .selector{
        opacity:1;
      }
    }
  }
}
