.app-component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif; }
  .app-component .app-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 0; }
  .app-component .no-spaces {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0em;
    color: #505050;
    padding: 15vw;
    box-sizing: border-box;
    text-align: center; }

.navigation-bar {
  width: 300px;
  background: #fbfbfb;
  height: 100%;
  border-right: 1px solid #e9e9e9; }
  .navigation-bar .nav-header {
    padding: 24px 24px 24px 72px;
    box-sizing: border-box;
    margin-bottom: 24px; }
    .navigation-bar .nav-header .title {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.4em;
      color: #a3a4a4;
      font-family: Ubuntu, sans-serif;
      text-transform: uppercase; }
  .navigation-bar .nav-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .navigation-bar .nav-buttons .navigate-to {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 18px 24px;
      box-sizing: border-box;
      width: 100%;
      border-bottom: 1px solid #e9e9e9;
      transition: all 0.3s;
      position: relative; }
      .navigation-bar .nav-buttons .navigate-to .text {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0em;
        color: #d0d0d0;
        transition: all 0.3s; }
      .navigation-bar .nav-buttons .navigate-to .svg-container {
        display: flex;
        margin: 0 12px 0 48px; }
        .navigation-bar .nav-buttons .navigate-to .svg-container > svg {
          fill: white;
          transition: all 0.3s; }
      .navigation-bar .nav-buttons .navigate-to.selected {
        background: white; }
        .navigation-bar .nav-buttons .navigate-to.selected > .text {
          color: #757575;
          font-weight: 700; }
        .navigation-bar .nav-buttons .navigate-to.selected > .svg-container > div > svg {
          fill: #757575; }
      .navigation-bar .nav-buttons .navigate-to:hover {
        cursor: pointer;
        background: white; }

.spaces-page-container {
  width: 100%;
  height: 100%; }
  .spaces-page-container .header {
    padding: 24px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #505050;
    background: #f9f9f9; }

.table-component-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s;
  padding: 24px 24px 0 24px;
  box-sizing: border-box; }
  .table-component-flex .header-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 18px 48px 18px 36px;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
    width: 100%; }
    .table-component-flex .header-row .header-item {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0em;
      color: gray;
      margin-right: 12px; }
      .table-component-flex .header-row .header-item:hover {
        cursor: pointer; }
      .table-component-flex .header-row .header-item.main {
        font-size: 24px;
        font-weight: 600;
        letter-spacing: 0em;
        color: #6a6a6a; }
  .table-component-flex .data-rows-outer {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: white; }
    .table-component-flex .data-rows-outer .data-rows-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 12px 0 0;
      box-sizing: border-box;
      min-height: 0;
      width: 100%; }
      .table-component-flex .data-rows-outer .data-rows-container .data-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 24px 36px;
        box-sizing: border-box;
        width: 100%;
        border-bottom: 1px solid #e9e9e9;
        transition: all 0.2s; }
        .table-component-flex .data-rows-outer .data-rows-container .data-row:last-of-type {
          margin-bottom: 0;
          border: none; }
        .table-component-flex .data-rows-outer .data-rows-container .data-row.selectable:hover {
          background: #f9f9f9;
          cursor: pointer; }
        .table-component-flex .data-rows-outer .data-rows-container .data-row .data-item {
          margin-right: 12px;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: 0.025em;
          color: #9a9a9a; }

.no-entries-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .no-entries-container .text {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    color: #646464;
    margin-left: 12px; }

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 24px;
  box-sizing: border-box;
  background: #f9f9f9;
  border-bottom: 1px solid #e9e9e9; }
  .tabs .tab {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 24px;
    box-sizing: border-box;
    border: 1px solid transparent;
    position: relative;
    border-bottom: none;
    transition: all 0.3s; }
    .tabs .tab:hover {
      cursor: pointer; }
    .tabs .tab .text {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0em;
      color: #d0d0d0;
      transition: all 0.3s; }
    .tabs .tab .svg-container {
      display: flex;
      margin-right: 12px; }
    .tabs .tab.selected {
      background: white;
      border: 1px solid #e9e9e9;
      border-bottom: none;
      border-radius: 3px 3px 0 0; }
      .tabs .tab.selected:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -1px;
        left: 0;
        background: white; }
      .tabs .tab.selected > .text {
        color: #757575;
        font-weight: 600; }
      .tabs .tab.selected > .selector {
        opacity: 1; }

/*# sourceMappingURL=app.css.map */
