$separatorColor: #e9e9e9;
$primaryDarkColor: #363c41;

@mixin flex($direction, $justify, $align){
  display:flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font-style($size, $weight, $spacing, $color){
  font-size:$size;
  font-weight:$weight;
  letter-spacing: $spacing;
  color: $color;
}

@mixin padding-border-box($padding){
  padding:$padding;
  box-sizing: border-box;
}

@mixin maxSize(){
  width:100%;
  height:100%;
}
